#calcontent {
	margin: 0 auto;
	width: 280px;
	height: 430px;
	margin-top: 100px;
	border: 2px solid gray;
/*	background: url(../img/generaloverview.png);*/
}

table {
	margin: 0 auto;
	margin-top: 20px;
}

#calShow {
	display: block;
	margin: 0 auto;
	height: 30px;
	width: 210px;
	text-align: end;
	font-size: 20px;
	font-weight: bold;
}

/*  两个类选择器，
 * 中间若是有逗号，选择这两个类的交，
 * 如果之间没有，则选择两个类的并*/

.numbtn,
.optbtn {
	height: 50px;
	width: 50px;
	font-size: 25px;
	/*color: white;*/
	color: black;
	font-weight: bold;
	background: transparent;
	border: 2px solid gray;
}

h1{
	text-align: center;
}
