body{
	background: url(../img/background.png);
	font-family: verdana,tahoma,sans-serif;
	margin: 0;
	padding: 0;
	font-size: 8pt;
}

#topbar{
	background: url(../img/bannerbackground.png);
	background-repeat: repeat-x;
	align-content: center; 
	height: 50px;	
}   
 
 #comment{
	display: inline-block;
}
 
#leftcomment,#rightcomment{
	 width: 47%;
	 margin-right: 2%; 
	 display: inline-block;
	 float: left;
}

 
#leftcomment{
	 margin-left: 2%;
}


.commentquote{
	border:2px solid gray;
	background: #E1D697;
	padding: 8px;
	font-size: 8pt; 
	font-weight: bold;
}

.commentquote img{
	margin-right: 5px;
	float: left;
}


.singlecomment{
	margin-bottom: 3em;
}


.singlecomment::after{
	clear: both;
	content: '.';
    display: inline-block;
    width: 0;
    height: 0;
    visibility: hidden;
    clear: both;
    display: block;
}

/*#content::after{
	content: '.';
	display: block;
	width:0px;
	height: 0px;
	visibility: hidden;
	clear: both;
}*/


#file_info{
	margin-left: 10px;
    font-family: arial,sans-serif;
    font-size: 8pt;
}

#file_info dt{
	font-weight: bold;
	margin-top: 1em;
}

#right{
	background: #A2B964;
}

#bottombar{
	text-align: center;
    margin-bottom: 5px; 
    background: #A2B964;
    height: 20px;
    clear: both;
    margin-bottom: 0px;
}

#bottombar:after{
	content: '.';
	display: block;
	width:0px;
	height: 0px;
	visibility: hidden;
}

.commentor img{
	margin-right: 5px;
	float: left;
	display: inline-block;
}

.commentor {
	font-style: italic;
}


#contentbar{
	background-image: url(../img/rottenbackground.png);
	background-repeat: repeat;			
	background-origin: border-box;
	height: 83px;			
}

#contentbar img{
	float: left;
}

#contentbar #persentstyle{
	font-size: 48pt; color: red;font-weight: bold; float: left;margin-top: 5px
}

#contentbar #reviewtotal{
	font-size: 8pt; 
	color: white;
	float: left;
	margin-top: 58px;
}
