body{
	background: url(../img/background.png);
	font-family: verdana,tahoma,sans-serif;
	margin: 0;
	padding: 0;
	font-size: 8pt;
}

/*
 * 最上方的bar
 */
#topbar{
	background: url(../img/bannerbackground.png);
	background-repeat: repeat-x;
	align-content: center; 
	height: 50px;	
}   
 
/**
 *content右半部分
 */ 
#right{
	background: #A2B964;
}
 
 
 /**
  * 内容左下角评论部分
  */
 #comment{
	display: inline-block;
}
 
 /*评论左半部分和右半部分*/
#leftcomment,#rightcomment{
	 width: 47%;
	 margin-right: 2%; 
	 display: inline-block;
	 float: left;
}

 
#leftcomment{
	 margin-left: 2%;
}


/**
 * 单个comment
 */
.singlecomment{
	margin-bottom: 3em;
}


.singlecomment .commentquote{
	border:2px solid gray;
	background: #E1D697;
	padding: 8px;
	font-size: 8pt; 
	font-weight: bold;
}

.singlecomment .commentquote img{
	margin-right: 5px;
	float: left;
}

.singlecomment .commentor {
	font-style: italic;
}

.singlecomment .commentor img{
	margin-right: 5px;
	float: left;
	display: inline-block;
}

/**
 * 右下角电影信息部分
 */
#file_info{
	margin-left: 10px;
    font-family: arial,sans-serif;
    font-size: 8pt;
}

#file_info dt{
	font-weight: bold;
	margin-top: 1em;
}


/**
 * 内容界面左上角的bar
 */
#contentbar{
	background-image: url(../img/rottenbackground.png);
	background-repeat: repeat;			
	background-origin: border-box;
	height: 83px;			
}

#contentbar img{
	float: left;
}

#contentbar #persentstyle{
	font-size: 48pt; color: red;font-weight: bold; float: left;margin-top: 5px
}

#contentbar #reviewtotal{
	font-size: 8pt; 
	color: white;
	float: left;
	margin-top: 58px;
}

/**
 * 最下方的bar
 */
#bottombar{
	text-align: center;
    margin-bottom: 5px; 
    background: #A2B964;
    height: 20px;
    clear: both;
    margin-bottom: 0px;
}